.cards-grid {
  display: flex;
  // justify-content: space-between;
  margin-bottom: 20px;
}
.talk-card {
  width: 300px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.talk-card:hover {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -2px, 0);
}
.talk-card:focus {
  outline: none;
}
.card-content {
  height: 100px;
  overflow: auto;
}
